In [8]:
from check_env import run_checks
run_checks()

Using Python in c:\Users\samy-\Documents\data-analysis-with-pandas\project_env:
[ OK ] Python is version 3.9.12 (tags/v3.9.12:b28265d, Mar 23 2022, 23:52:46) [MSC v.1929 64 bit (AMD64)]

[ OK ] graphviz
[ OK ] imblearn
[ OK ] ipympl
[ OK ] jupyterlab
[ OK ] matplotlib
[ OK ] numpy
[ OK ] pandas
[ OK ] requests
[ OK ] sklearn
[ OK ] seaborn
[ OK ] sqlalchemy
[ OK ] statsmodels

In [43]:
import datetime as dt
import pandas as pd
import numpy as np
import requests

In [2]:
yesterday = dt.date.today() - dt.timedelta(days=1)
api = "https://earthquake.usgs.gov/fdsnws/event/1/query"
payload = {
    'format' : 'geojson',
    'starttime' : yesterday - dt.timedelta(days=30),
    'endtime' : yesterday
    
}

In [3]:
response = requests.get(api, params=payload)

In [4]:
#check the status of the response
response.status_code

200

In [5]:
earthquake_json = response.json()
earthquake_json.keys()

dict_keys(['type', 'metadata', 'features', 'bbox'])

In [6]:
earthquake_json['metadata']

{'generated': 1651271218000,
 'url': 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2022-03-30&endtime=2022-04-29',
 'title': 'USGS Earthquakes',
 'status': 200,
 'api': '1.13.3',
 'count': 9513}

In [8]:
type(earthquake_json["features"])

list

In [11]:
earthquake_json["features"] [1]

{'type': 'Feature',
 'properties': {'mag': 0.86,
  'place': '16km NE of Borrego Springs, CA',
  'time': 1651187456800,
  'updated': 1651192159752,
  'tz': None,
  'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/ci37496693',
  'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci37496693&format=geojson',
  'felt': None,
  'cdi': None,
  'mmi': None,
  'alert': None,
  'status': 'reviewed',
  'tsunami': 0,
  'sig': 11,
  'net': 'ci',
  'code': '37496693',
  'ids': ',ci37496693,',
  'sources': ',ci,',
  'types': ',nearby-cities,origin,phase-data,scitech-link,',
  'nst': 7,
  'dmin': 0.04139,
  'rms': 0.1,
  'gap': 261,
  'magType': 'ml',
  'type': 'earthquake',
  'title': 'M 0.9 - 16km NE of Borrego Springs, CA'},
 'geometry': {'type': 'Point', 'coordinates': [-116.2601667, 33.361, 11.07]},
 'id': 'ci37496693'}

In [29]:
earthquake_properties_data = [
    quake['properties']
    for quake in earthquake_json['features']
]

In [30]:
earthquake_df = pd.DataFrame(earthquake_properties_data)

In [31]:
import os

data_path = r'.\data' 
if not os.path.exists(data_path):
    os.makedirs(data_path)

In [32]:
earthquake_df.to_csv("data/earthquakes.csv",index=False)

In [33]:
df = pd.read_csv("data/earthquakes.csv")

In [34]:
df.head()

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,1.95,"8 km E of P?hala, Hawaii",1651187807320,1651187995740,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",hv72997982,",",hv,",",origin,phase-data,",45.0,NaN,0.11,160.0,md,earthquake,"M 2.0 - 8 km E of P?hala, Hawaii"
1,0.86,"16km NE of Borrego Springs, CA",1651187456800,1651192159752,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ci37496693,",",ci,",",nearby-cities,origin,phase-data,scitech-link,",7.0,0.04139,0.10,261.0,ml,earthquake,"M 0.9 - 16km NE of Borrego Springs, CA"
2,0.91,"15km NE of Borrego Springs, CA",1651187454590,1651191854929,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ci40247976,",",ci,",",nearby-cities,origin,phase-data,scitech-link,",21.0,0.05009,0.15,182.0,ml,earthquake,"M 0.9 - 15km NE of Borrego Springs, CA"
3,0.56,"12km SSE of Anza, CA",1651187399490,1651191505478,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ci40247968,",",ci,",",nearby-cities,origin,phase-data,scitech-link,",22.0,0.04933,0.08,77.0,ml,earthquake,"M 0.6 - 12km SSE of Anza, CA"
4,2.69,"2 km ENE of Magas Arriba, Puerto Rico",1651187133620,1651190541376,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.0,2.0,NaN,...,",pr71346663,",",pr,",",dyfi,origin,phase-data,",8.0,NaN,0.10,169.0,md,earthquake,"M 2.7 - 2 km ENE of Magas Arriba, Puerto Rico"

In [39]:
print("shape: \n", df.shape)
print("columns: \n", df.columns)
print("data type: \n", df.dtypes)

shape:
 (9513, 26)
columns:
 Index(['mag', 'place', 'time', 'updated', 'tz', 'url', 'detail', 'felt', 'cdi',
       'mmi', 'alert', 'status', 'tsunami', 'sig', 'net', 'code', 'ids',
       'sources', 'types', 'nst', 'dmin', 'rms', 'gap', 'magType', 'type',
       'title'],
      dtype='object')
data type:
 mag        float64
place       object
time         int64
updated      int64
tz         float64
url         object
detail      object
felt       float64
cdi        float64
mmi        float64
alert       object
status      object
tsunami      int64
sig          int64
net         object
code        object
ids         object
sources     object
types       object
nst        float64
dmin       float64
rms        float64
gap        float64
magType     object
type        object
title       object
dtype: object

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9513 entries, 0 to 9512
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   mag      9513 non-null   float64
 1   place    9496 non-null   object
 2   time     9513 non-null   int64
 3   updated  9513 non-null   int64
 4   tz       0 non-null      float64
 5   url      9513 non-null   object
 6   detail   9513 non-null   object
 7   felt     556 non-null    float64
 8   cdi      556 non-null    float64
 9   mmi      118 non-null    float64
 10  alert    63 non-null     object
 11  status   9513 non-null   object
 12  tsunami  9513 non-null   int64
 13  sig      9513 non-null   int64
 14  net      9513 non-null   object
 15  code     9513 non-null   object
 16  ids      9513 non-null   object
 17  sources  9513 non-null   object
 18  types    9513 non-null   object
 19  nst      6632 non-null   float64
 20  dmin     6268 non-null   float64
 21  rms      9513 non-null   float64
 22  gap      7793 non-null   float64
 23  magType  9513 non-null   object
 24  type     9513 non-null   object
 25  title    9513 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.9+ MB

In [41]:
df.describe()

,mag,time,updated,tz,felt,cdi,mmi,tsunami,sig,nst,dmin,rms,gap
count,9513.000000,9.513000e+03,9.513000e+03,0.0,556.000000,556.000000,118.000000,9513.000000,9513.000000,6632.000000,6268.000000,9513.000000,7793.000000
mean,1.638089,1.649875e+12,1.650048e+12,NaN,18.048561,2.641187,3.133585,0.001051,67.324714,19.707177,0.668118,0.293263,120.979269
std,1.297496,7.358705e+08,7.433144e+08,NaN,198.807896,1.448110,1.546391,0.032407,100.530156,15.575500,2.022078,0.300485,66.600236
min,-1.490000,1.648599e+12,1.648601e+12,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,15.000000
25%,0.820000,1.649262e+12,1.649394e+12,NaN,1.000000,2.000000,2.429250,0.000000,10.000000,8.000000,0.021000,0.090000,71.000000
50%,1.400000,1.649880e+12,1.650094e+12,NaN,1.000000,2.200000,3.644000,0.000000,30.000000,15.000000,0.062275,0.160000,104.000000
75%,2.090000,1.650481e+12,1.650665e+12,NaN,4.000000,3.400000,3.981750,0.000000,67.000000,26.000000,0.206015,0.450000,156.000000
max,7.000000,1.651188e+12,1.651270e+12,NaN,4601.000000,8.100000,6.877000,1.000000,801.000000,114.000000,35.369000,1.870000,350.880000

In [44]:
df.describe(include=np.object)

,place,url,detail,alert,status,net,code,ids,sources,types,magType,type,title
count,9496,9513,9513,63,9513,9513,9513,9513,9513,9513,9513,9513,9513
unique,5380,9513,9513,1,2,15,9513,9513,74,56,8,4,7992
top,"7km NW of The Geysers, CA",https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,green,reviewed,nc,60488637,",pr71343233,",",nc,",",origin,phase-data,",ml,earthquake,"M 0.9 - 8km NW of The Geysers, CA"
freq,127,1,1,63,6803,1727,1,1,1674,5827,5502,9322,41

In [45]:
df["alert"].value_counts()

green    63
Name: alert, dtype: int64

In [46]:
df["alert"].unique()

array([nan, 'green'], dtype=object)

In [47]:
df[['title','time'] + [col for col in df.columns if col.startswith('mag')]]

,title,time,mag,magType
0,"M 2.0 - 8 km E of P?hala, Hawaii",1651187807320,1.95,md
1,"M 0.9 - 16km NE of Borrego Springs, CA",1651187456800,0.86,ml
2,"M 0.9 - 15km NE of Borrego Springs, CA",1651187454590,0.91,ml
3,"M 0.6 - 12km SSE of Anza, CA",1651187399490,0.56,ml
4,"M 2.7 - 2 km ENE of Magas Arriba, Puerto Rico",1651187133620,2.69,md
...,...,...,...,...
9508,"M 1.1 - 12km WSW of Searles Valley, CA",1648599865700,1.08,ml
9509,"M 2.2 - 18 km ENE of Mina, Nevada",1648599193686,2.20,ml
9510,"M 1.2 - 53 km NE of Nikolski, Alaska",1648599190770,1.20,ml
9511,M 3.1 - Puerto Rico region,1648598721010,3.09,md
9512,"M 2.6 - 53 km ENE of Pedro Bay, Alaska",1648598623948,2.60,ml

In [50]:
df.loc[df['tsunami']==1,['alert', 'mag', 'magType', 'title', 'tsunami', 'type']]

,alert,mag,magType,title,tsunami,type
242,green,5.20,ml,"M 5.2 - 118 km E of Chignik, Alaska",1,earthquake
937,NaN,4.20,ml,"M 4.2 - 251 km SE of Chignik, Alaska",1,earthquake
1468,NaN,5.30,mww,"M 5.3 - Vancouver Island, Canada region",1,earthquake
1948,NaN,5.30,mww,"M 5.3 - 41 km NW of Nelson Lagoon, Alaska",1,earthquake
2239,green,6.70,mww,"M 6.7 - 58 km WSW of Masachapa, Nicaragua",1,earthquake
4292,green,4.54,mw,"M 4.5 - 20km W of El Sauzal, B.C., MX",1,earthquake
6130,green,5.70,mww,"M 5.7 - Rat Islands, Aleutian Islands, Alaska",1,earthquake
8900,green,6.40,mww,M 6.4 - southeast of the Loyalty Islands,1,earthquake
9114,green,7.00,mww,"M 7.0 - 281 km ESE of Tadine, New Caledonia",1,earthquake
9246,green,6.90,mww,"M 6.9 - 286 km ESE of Tadine, New Caledonia",1,earthquake